/* general section */

@font-face {
    font-family: 'vaziri-bold';
    src: url(/karafs-website/assert/fonts/vazir-font-v16.1.0/Vazir-Bold.woff2);
}

@font-face {
    font-family: "vaziri-light";
    src: url(/karafs-website/assert/fonts/vazir-font-v16.1.0/Vazir-Light.woff2);
}

@font-face {
    font-family: 'lalezar';
    src: url(/karafs-website/assert/font/Vazir-Light);
}



/* nav style */

nav{
    font-family:'vaziri-bold' ;
}


.mylogo{
    margin-right: 100px;
    background-color: aqua;
}

.my-app{
    padding-left: 40px;
    font-size: 10px;
}



.nav-icon{
    border: none;
}

/* header body style */

.container1{
    height: auto;
    background-color: #FFFFFF;
}

.row .col{
    height: 600px;
    padding: 25px;
    text-align: center;
    
}

.myimg{
   margin-left: 110px;

}

.content-header{
    
    text-align: right;
    margin-right: 84px;
    margin-top: 40px;
    padding: 20px;
    width: 700px;
   
  
  
}

.content-header h2{
    font-size: 51px;
    font-weight: bold;
    margin-right: 50px;
    font-family: 'vaziri-bold';
}

.content-header h2 span{
    color: #29CC88;

}

.content-header p{
    font-size: 20px;
    font-weight: 600;
    color: #636363;
    margin-right: 50px;
}

.P-titel{
padding-top: 14.5px;


}

.my-btn{
    margin-right: 50px;
    width: 400px;
    height: 50px;
    border-radius: 50px;
    margin-top: 30px;
    border: none;
    background-color: #29CC88;
    font-family: 'vaziri-light';
    color: rgb(233, 237, 240);
    font-weight: bold;
    font-size: 18px;
}

